{% extends "polls/base.html" %}
{% block content%}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>{{ blog.title }}</h1>

<p>{{ blog.pub_date }}</p>

{%autoescape off %}
<p>{{ blog.content }}</p>

{% endautoescape %}
<a class="btn btn-default"  href="{% url 'polls:BlogUpdate' blog.id %}"  role="button">Update</a>
<a class="btn btn-danger"  href="{% url 'polls:BlogDelete' blog.id %}"  role="button">Delete</a>
<p></p>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">LOVE <span class="glyphicon glyphicon-heart-empty"> 42</span></a></li>
  
</ul>
{% endblock %}
