{% extends "polls/base.html" %}
{% block content%}

{% if latest_blog_list %}
     
     {% for  blog in latest_blog_list %}
        <h2>
             <a href="">{{blog.title}}</a>
         </h2>
         
         <p class="lead">
             by <a href="#">Mrs. Right</a>
         </p>
         {%autoescape off %}
         <p>{{ blog.content|truncatechars:200}}</p>
         {% endautoescape %}
         <p><span class="glyphicon glyphicon-time"></span> Posted on November 25, 2015 at 10:45 PM</p>
         <hr>
         <a class="btn btn-primary" href="{% url  'polls:detail' blog.id %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
     {% endfor %}
    
{% else %}
     <p>No polls are available.</p>
{% endif %}

{% endblock %}
